.aaron {
  --theme-color: lightcoral;
}

.dan {
  --theme-color: lightseagreen;
}

body {
  margin: 0;
  font-family: sans-serif;
}

body,
.container {
  background: var(--theme-color);
}

main.home {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}

main.home .container {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 7rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

main.home h1 {
  position: absolute;
}

a {
  color: white;
  font-size: 3rem;
}

ul {
  list-style-type: none;
}

.copyright {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #ddd;
  font-size: 0.5rem;
}
