body {
  margin: 0;
  padding: 50px;
  background: var(--theme-color);
  font-family: sans-serif;
}

h1 {
  color: white;
  font-size: 7rem;
}

a {
  color: white;
  font-size: 3rem;
}

ul {
  list-style-type: none;
}